.costaRicaMain {
    stroke: $color-white;
    stroke-dasharray: 1060;
    stroke-dashoffset: -1060;
    fill: $color-darkblue;
    animation: drawMapOutline 2s linear forwards, fillOutline 1s ease-in 2.75s forwards;
}

.costaRicaShadow {
    stroke: $color-gray;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: drawMapShadow 1s linear 1.75s forwards;
}

@keyframes drawMapOutline {
    0% {
        stroke-dashoffset: -1060px;
    }
    100%{
        stroke-dashoffset: 0px;
    }
}

@keyframes drawMapShadow {
    0% {
        stroke-dashoffset: 1000px;
    }
    100%{
        stroke-dashoffset: 765px;
    }
}

@keyframes fillOutline {
    0% {
        fill: $color-darkblue;
    }
    100% {
        fill: $color-yellow;
    }
}
