.summary-transaction {
    &__root {
        background-color: $color-light-gray;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9rem;
        text-align: center;
        margin: $half-margin 0;
        padding: $half-padding;
        border-radius: $default-border-radius;
    }

    &__description {
        width: 70%;
        margin: 0;
    }

    &__amount {
        width: 30%;

        &--credited {
            color: $color-green;
        }

        &--debited {
            color: $color-red;
        }
    }
}