.card-panel {
    &__root {
        position: relative;
        margin-top: 50px;
    }

    &__panel {
        @include default-box-shadow; 
        width: calc(100% - 2*$default-padding - 2*$default-margin);
        max-width: 350px;
        padding: $default-padding;
        margin: $default-margin;
        border-radius: $default-border-radius;
        background-color: $color-white;
        position: relative;
        height: 365px;

    }

    &__card-wrp {
        position: absolute;
        width: 100%;
        left: 17.5%;
        top: 0;

        &--left {
            animation: slideInLeft 1s cubic-bezier(0.2, 0.98, 1, 1) forwards;
        }
        
        &--right {
            animation: slideInRight 1s cubic-bezier(0.2, 0.98, 1, 1) forwards;
        }
    }


    &__body {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__balance-section {
        display: flex;
        flex-direction: column;
    
        &__title {
            margin: 0;
            font-size: 1.5rem;
            text-align: center;
        }

        &__value {
            font-size: 1.75rem;
        }
    }

    &__latest-transact-section {
        margin-top: $default-margin;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__title {
            margin: 0;
            font-size: 1.25rem;
            text-align: left;
            width: 60%;
            display: flex;
            align-items: center
        }

        &__btn {
            @include default-button;
            width: calc(40% - 2*$default-padding);
            font-size: 1rem;
            text-align: center;
            text-decoration: none;
            margin-bottom: $half-margin;
        }

        &__transact {
            width: 100%;
            opacity: 0;

            &--display {
                animation: fadeIn 0.5s linear forwards;
            }
        }

        &__no-data {
            text-align: center;
        }
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__root {
           width: 50%;
           max-width: 375px;
        }
    
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate(-100%, -50px);  
    }
    100% {
        transform: translate(-9%, -50px);
    }
}