.text-input {
    &__root {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $default-margin;

        &--with-margin {
            margin-bottom: calc(2.7*$default-margin);
        }
    }

    &__label {
        font-size: 1.1rem;
        margin-bottom: $half-margin
    }

    &__input-container {
        position: relative;

        &:after, &:before {
            position:absolute;
            width: 10px; 
            height: 10px;
            border-color: $color-yellow;
            border-style:solid; 
            content: ' ';
        }

        &:before {bottom:0;left:0;border-width: 0  0 2px 2px}
        &:after {top:0;right:0;border-width: 2px 2px 0 0}
    }

    &__input {
        padding: $half-padding;
        border: none;
        height: 1.5rem;
        position: relative;
        font-family: $default-font;
        background-color: rgba($color: $color-yellow, $alpha: 0.1);

        &--error {
            background-color: rgba($color: $color-red, $alpha: 0.2);
        }
    }

    &__error {
        width: 100%;
        font-size: 0.8rem;
        color: $color-red;
        position: absolute; 
        left: 0;
        top: 125%;
    }

    &__show-pass-btn {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20%;
        right: 0;
        height: 60%;
    } 

    &__instruction {
        width: 100%;
        position: absolute;
        font-size: 0.9rem;
        left: 2.5%;
        top: 125%;
    }
}