.login-form {
    &__root {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    
    &__login-section {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 230px;
        justify-content: center;
        margin-bottom: $default-margin;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    &__title {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    &__error {
        position: absolute;
        text-align: center;
        color: $color-red;
        bottom: 22%;
        left: 25%;
    }

    &__submit-btn {
        @include default-button;
        align-self: center;
        margin-top: 25px;
    }


    &__signup-section {
        align-self: flex-end;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $half-margin;
    }

    &__signup-title {
        font-size: 1.5rem;
        text-align: center;
        margin: $half-margin 0;
    }

    &__signup-link {
        @include default-button;
        text-align: center;
        align-self: center;
        text-decoration: none;
    }
}