.smallCText, .smallSText {
    fill: $color-yellow;
}

.smallAmper {
    stroke-dasharray: 74px;
    stroke-dashoffset: -74px;
    animation: formAmperSmallLogo 1s ease-in-out 0.75s forwards;
}

.smallContour {
    stroke-dasharray: 90px;
    stroke-dashoffset: 130px;
    animation: displayContourSmallLogo 1s linear forwards;
}

.smallCrown {
    animation: goUpSmallLogo 1s ease-out forwards;
}

.smallShield {
    animation: goDownSmallLogo 1s ease-out forwards;
}