.landing {
    &__main {
        padding-top: 75px;
    }

    &__h1, &__h2 {
        @include visually-hidden;
    }

    &__logo-container {
        background-color: rgba($color: $color-darkblue, $alpha: 0.7);
        width: 300px;
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__logo-container {
            width: 450px;
        }
    }
}