.signup-form {
    &__left-door, &__right-door {
        position: fixed;
        height: 100vh;
        width: 80%;
        background-color: $color-darkblue;
        z-index: 50;
    }

    &__left-door {
        animation: openLeft 1s ease-in forwards;
    }

    &__right-door {
        animation: openRight 1s ease-in forwards;
    }
    
    &__form {
        @include default-box-shadow;
        position: relative;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $color-white;
        padding: $default-padding;
        margin: $default-margin 0;
        max-width: 750px;
        border-radius: $default-border-radius;
        width: calc(80% - 2*$default-padding);
        height: calc(100% - 2*$default-padding - 2*$default-margin);
    }

    &__title {
        width: 100%;
        text-align: center;
        margin: 0 0 $default-margin 0;
        font-size: 2.5rem;
    }

    &__go-back-btn {
        @include default-button;
        text-decoration: none;
        position: absolute;
        left: -12px;
        top: 0;
    }

    &__personal-info-sect {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color-darkblue;
    }

    &__account-info-sect {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__submit-sect {
        width: 100%;
        margin-top: calc(2*$default-margin);
        text-align: center;
    }

    &__submit-btn {
        @include default-button;
    }

    @media only screen and (min-width: $tablet-bp)  {
        &__form {
            overflow-y: hidden;
        }
        
        &__personal-info-sect {
            width: calc(50% - 2px);
            border-right: 2px solid $color-darkblue;
            border-bottom: none;
        }
    
        &__account-info-sect {
            width: 50%;
        }
        
        &__submit-btn {
            position: absolute;
            right: 15%;
            bottom: 15%;
        }
    }
}

@keyframes openLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes openRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}