.sliding-coin {
    &__root {
        height: 150px;
        width: 150px;
        
        & svg {
            fill: $color-darkblue;            
        }
    }

    @media only screen and (min-width: $desktop-bp)  { 
        &__root {
            height: 200px;
            width: 200px;
        }
    }
}