.date-input {
    &__root {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $default-margin;
    }

    &__label {
        font-size: 1.2rem;
    }

    &__input-container {
        position: relative;

        &:after, &:before {
            position:absolute;
            width: 10px; 
            height: 10px;
            border-color: $color-yellow;
            border-style:solid; 
            content: ' ';
        }

        &:before {bottom:0;left:0;border-width: 0  0 2px 2px}
        &:after {top:0;right:0;border-width: 2px 2px 0 0}
    }

    &__input {
        padding: $half-padding;
        border: none;
        height: 1.5rem;
        position: relative;
        font-family: $default-font;
        background-color: rgba($color: $color-yellow, $alpha: 0.1);
    }
}