.notification {
    &__root {
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: $color-white;
        padding: $default-padding;
        border-radius: 10px;
        z-index: 1500;
        display: flex;
        flex-direction: column;
        animation: notificationAppear 0.5s ease-in forwards;

        &--success {
            background-color: $color-green-light;
            border: 2px solid $color-green;
        }

        &--error {
            background-color: $color-red-light;
            border: 2px solid $color-red;
        }
    }

    &__close-btn  {
        @include default-button;
        
        align-self: center;
        display: flex;
        margin-top: $default-margin;
        align-items: center;

        & svg {
            margin-left: $half-margin;
            min-width: 22px;
        }
    }

    &__message {
        display: block;
        margin: 0;
        text-align: center;
        font-size: 1.25rem;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $color-darkblue, $alpha: 0.7);
        z-index: 1500;
        animation: fadeIn 0.5s ease-in forwards;
    }
}