.dashboard {
    &__root {
        background-color: $color-yellow;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 375px;
    }

    &__title {
        margin: 0;
        padding: $default-padding 0 0 0;
        text-align: center;
        font-size: 2.5rem;
    }

    &__greeting {
        margin: $half-margin 0;
        text-align: center;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__welcome {
            animation: disappearWelcome 1s ease-out 2s forwards;
            margin-bottom: $half-margin;
        }

        &__name {
            display: block;
            animation: enlargeName 1s ease-out 3s forwards;
            max-width: 120px;
            
            & a {
                display: block;
                color: $color-darkblue;
                text-decoration: none;
                padding: 5px 10px;
                transition: color 0.5s linear 0.1s, background-color 0.5s linear;

                &:hover, &:focus {
                    background-color: $color-darkblue;
                    color: $color-yellow;
                }
            }

            &:after, &:before {
                position:absolute;
                width: 15px; 
                height: 15px;
                border-color: $color-darkblue;
                border-style:solid; 
                content: ' ';
            }
    
            &:before {bottom:0;left:0;border-width: 0  0 2px 2px}
            &:after {top:0;right:0;border-width: 2px 2px 0 0}
        }
    }

    &__next-btn {
        @include secondary-button;

        width: 50%;
        max-width: 230px;
        text-align: center;
        font-size: 1.2rem;
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__root {
            flex-direction: row;
            flex-wrap: wrap;
            width: calc(100% - 200px);
            margin-left: 200px;
        }

        &__title {
            width: 100%;
        }

        &__greeting {
            width: 100%;
        }
    }
}

@keyframes disappearWelcome {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;    
    }
}

@keyframes enlargeName {
    0% {
        transform: scale(1) translateY(0px);
    }
    100% {
        transform: scale(1.4) translateY(-10px);
    }
}