.our-services {
    &__root {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__title {
        height: calc(10% - $default-margin);
        text-align: center;
        margin: $default-margin 0 0 0;
        font-size: 2.5rem;
        color: $color-darkblue;
    }

    &__anim-coin {
        position: absolute;
        transform: translate(-100%);
        z-index: 75;
        
        &--vert {
            left: 40%;
            animation: animateCoinVert 3s ease-out normal forwards;
        }

        &--horiz {
            top: 40%;
            animation: animateCoinHoriz 3s linear normal forwards;
        }
    }

    &__info-section {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__info-anim-wrapper {
        opacity: 0;
    }

    &__info-anim-wrapper--display {
        animation: fadeInScaling 1s ease-in forwards;
    }


    @media only screen and (min-width: $desktop-bp)  {
        &__info-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}

@keyframes animateCoinVert {
    0%{
        transform: translateY(-150%) rotate(0deg);
    }
    100%{
        transform: translateY(400%) rotate(360deg);
    }
}

@keyframes animateCoinHoriz {
    0%{
        transform: translateX(-100%) rotate(0deg);
    }
    100%{
        transform: translateX(1000%) rotate(360deg);
    }
}

@keyframes fadeInScaling {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}