.modal {
    &__root {
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: $color-white;
        padding: $default-padding;
        border-radius: 10px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        animation: notificationAppear 0.5s ease-in forwards;
        overflow: hidden;
    }

    &__close-btn  {
        @include default-button;
        padding: 3px $half-padding;
        position: absolute;
        top: 0;
        right: 0;

        &:hover, &:focus {
            stroke: $color-yellow;
            fill: $color-yellow;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $color-darkblue, $alpha: 0.7);
        z-index: 1000;
        animation: fadeIn 0.5s ease-in forwards;
    }
}