.border {
    width: 300px;
    height: 300px;
    stroke: $color-white;
    stroke-dasharray: 100px;

    animation: surround 2s linear infinite alternate;
}

@keyframes surround {
    0% {
        stroke-dashoffset: 80px;
    }
    100% { 
        stroke-dashoffset: 300px;
    }
}