.date-range-form {
    &__title {
        font-size: 1.5rem;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__submit-btn {
        @include default-button;
    }
}