.profile {
    &__root {
        background-color: $color-darkblue;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 375px;
    }

    &__title {
        color: $color-yellow;
        margin: 0;
        padding: $default-padding 0 0 0;
        text-align: center;
        font-size: 2.5rem;
    }

    &__container {
        @include default-box-shadow;
        color: $color-darkblue;
        background-color: $color-white;
        width: calc(100% - 2*$default-padding - 2*$default-margin);
        border-radius: $default-border-radius;
        margin: $default-margin;
        padding: $default-margin;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 430px;

        & h3 {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    &__full-name {
        margin: 0;
        width: 100%;
        text-align: center;
        margin-bottom: $default-margin;
        font-size: 2.2rem;
    }

    &__photo-section {
        width: 50%;
        padding: 0 $default-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: $default-margin;

        &__photo-cont {
            width: 100%;
            position: relative;
            max-width: 180px;
            max-height: 180px;
    
            img {
                width: 100%;
                height: 100%;
            }

            &:after, &:before {
                position:absolute;
                width: 25px; 
                height: 25px;
                border-color: $color-yellow;
                border-style:solid; 
                content: ' ';
            }
    
            &:before {bottom:0;left:0;border-width: 0  0 4px 4px}
            &:after {top:0;right:0;border-width: 4px 4px 0 0}
        }
    }

    &__info-section {
        width: 60%;
    }

    @media only screen and (min-width: $tablet-bp)  {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__photo-section {
            width: calc(40% - 2*$default-padding);
        }
        
        &__info-section {
            width: 60%;
        }
    }
}