.credit-card {
    &__root {
        position: relative;
        z-index: 50;
        height: 180px;
        max-width: 300px;
        width: 80%;
        border-radius: $default-border-radius;
        
        &--blue-yellow {
            background: linear-gradient(133deg, rgba(10,18,42,1) 50%, rgba(255,174,3,1) 100%);
        }
    }

    &__number-wrp {
        padding: $half-padding;
        background-color: rgba($color: $color-darkblue, $alpha: 0.3);
        border-radius: $default-border-radius;
        position: absolute;
        left: 10px;
        bottom: 50px;
    }

    &__number {
        font-family: $card-number-font;
        color: $color-white;
        font-size: 1.25rem;
    }

    &__currency-wrp {
        position: absolute;
        bottom: 20px;
        left: 17.5px;
    }

    &__visa-wrp {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 50px;
        padding: 1px 2px;
        margin: 2px;
        fill: $color-darkblue
    }

    &__logo-wrp {
        position: absolute;
        width: 75px;
        opacity: 0.5;
        padding: 2px;
    }
}