.add-money-form {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__submit-btn {
        @include default-button;
        text-align: center;
        margin-top: $default-margin;
    }
}