.transaction-button {
    &__root {
        @include secondary-button;
        margin: 0;
        width: calc(100% - 2*$default-padding);
        border-radius: $default-border-radius;
        border: none;
        display: flex;
        flex-wrap: wrap;
        height: 55px;

        & p {
            margin: 0;
        }
    }

    &__info-section {
        width: 70%;

        &__date {
            border-bottom: 1px solid $color-white;
            padding-bottom: 4px;
        }

        &__description {
            padding-top: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__amount {
        width: calc(30% - 1px);
        height: 100%;
        border-left: 1px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}