.hero {
    &__root {
        height: 700px;
        position: relative;
    }

    &__image-caroussel {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-color: $color-darkblue;
        position: relative;

        &__image {
            position: absolute;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            max-width: 100vw;
            width: 100%;
            transition: transform 1s ease-in;
            transform: translateX(100%);
            z-index: 1;

            &--current {
                z-index: 5;
                transform: translateX(0);
            }

            &--previous {
                z-index: 3;
                transform: translateX(-100%);
            }

        }
    }

    &__content {
        position: absolute;
        z-index: 50;
        top: 0;
        width: calc(100% - 2*$default-padding);
        height: calc(100% - 2*$default-padding);
        padding: $default-padding;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__pause-btn {
        z-index: 75;
        position: absolute;
        bottom: 2%;
        right: 1%;
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: $default-border-radius;
        border: none;
        background-color: $color-white;
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__content {
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }
    } 
}