.add-money {
    &__root {
        background-color: $color-darkblue;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 375px;
    }
    
    &__title {
        color: $color-yellow;
        margin: 0;
        padding: $default-padding 0 0 0;
        text-align: center;
        font-size: 2.5rem;
    }

    &__container {
        @include default-box-shadow;
        color: $color-darkblue;
        background-color: $color-white;
        width: calc(100% - 2*$default-padding - 2*$default-margin);
        border-radius: $default-border-radius;
        margin: $default-margin;
        padding: $default-margin;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 430px;
    }
}