.ham-button {
    &__root {
        position: relative;
        border: none;
        background-color: $color-darkblue;
        display: flex;
        flex-direction: column;
        padding: $default-padding $half-padding;
        height: 100%;
        justify-content: space-between;
        transition: background-color 0.5s linear;
        
        &:after, &:before {
            position:absolute;
            width: 25px; 
            height: 25px;
            border-color: $color-white;
            border-style:solid; 
            content: ' ';
        }

        &:before {bottom:0;left:0;border-width: 0  0 2px 2px}
        &:after {top:0;right:0;border-width: 2px 2px 0 0}
        
        & span {
            width: 40px;
            height: 3px;
            background-color: $color-white;
            border-radius: 5px;
            transition: background-color,transform 0.5s linear;
            
            &:nth-child(3) {
                position: absolute;
                top: 46%
            }
        }

        &--opened {
            background-color: $color-white;

            & span {
                background-color: $color-darkblue;

                &:nth-child(1), &:nth-child(4) {
                    transform: scaleX(0);
                }

                &:nth-child(2) {
                    transform: rotate(45deg) scaleX(1.25);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) scaleX(1.25);
                }
            }
        }
    }
}