.history {
    &__root {
        background-color: $color-yellow;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 375px;
    }

    &__title {
        margin: 0;
        padding: $default-padding 0 0 0;
        text-align: center;
        font-size: 2.5rem;
    }

    &__container {
        @include default-box-shadow;
        max-width: 350px;
        height: 475px;
        width: calc(100% - 2*$default-padding - 2*$default-margin);
        background-color: $color-white;
        border-radius: $default-border-radius;
        margin: $half-margin;
        padding: $default-padding;
        position: relative;
        margin-top: 60px;

        &__card-wrp {
            position: absolute;
            width: 100%;
            left: 17.5%;

            animation: slideInRight 1s cubic-bezier(0.2, 0.98, 1, 1) forwards;
        }
    }

    &__transcat-list-cont {
        width: 100%;
        margin-top: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        &__title {
            margin: 0;
            margin-bottom: $half-margin;
            text-align: center;
            font-size: 1.75rem
        }

        &__open-dates-btn {
            @include default-button;
            position: absolute;
            padding: $half-margin;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;

            & svg {
                margin-left: $half-margin;
            }
        }

        &__list {
            width: 100%;
            position: relative;
            margin: 0;
            padding: 0;
            height: 280px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;

            & li {
                margin: 0;
                margin-top: $half-margin;
                width: 100%;
                transform: translateX(15px);

                &::marker {
                    content: ('');
                }
            }
        }

        &__no-data {
            text-align: center;
        }
    }

    &__transact-details {
        position: fixed;
        width: calc(300px - 2*$default-padding);
        right: 0;
        top:0;
        bottom: 0;
        background-color: $color-white;
        transform: translateX(100%);
        transition: transform 1s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $default-padding;
        padding-top: 0;
        text-align: center;
        overflow-y: scroll;

        & h4 {
            margin-bottom: 0;
        }

        & p {
            margin-bottom: 0;
        }

        &--opened {
            transform: translateX(0%);
        }

        &__title {
            font-size: 2rem;
        }

        &__close-btn {
            @include secondary-button;
            position: absolute;
            right: 0;
        }
    }
}