.user-nav {
    &__root {
        z-index: 99;
        width: 200px;
        height: 100vh;
        position: fixed;
        background-color: $color-darkblue;
        transition: transform 0.5s ease-in;
        transform: translateX(-200px);

        &--open {
            transform: translateX(0px);
        }
    }

    &__ham-btn-cont {
        z-index: 100;
        position: fixed;
        left: 200px;
        height: 50px;
        transform: translateX(-200px);
        padding: 3px;
        background-color: $color-darkblue;
    }

    &__logo-section {
        padding: calc(2*$default-padding);
        padding-top: 50px;
    }

    &__links-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__navlink {
        font-family: $title-font;
        font-size: 2rem;
        text-decoration: none;
        width: 100%;
        min-height: 50px;
        text-align: center;
        color: $color-yellow;
        background-color: $color-darkblue;
        transition: color 0.3s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;

        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            color: $color-darkblue;
            background-color: $color-yellow;
        }

        &:hover, &:focus {
            transform: translateX(25px);
        }
    }

    &__log-out-btn {
        @include default-button;
        position: absolute;
        bottom: 25px;
        left: 22.5%;
    }

    &__swiper {
        position: fixed;
        z-index: 50;
        background-color: $color-yellow;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);

        &--swipe {
            transform: translateX(0%);
            animation: swipePage 1s ease-in forwards; 
        }
    }


    @media only screen and (min-width: $desktop-bp)  {
        &__main {
            height: calc(100vh - 2*$default-padding);
            padding: $default-padding;
            padding-left: calc($default-padding + 200px);
        }
    }
}

@keyframes showUserNav {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes swipePage {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}