.loader {
    &__root {
        position: absolute;
        top: 30%;
        left: 42.5%;
    }

    &__span {

        $size: 48px;
        width : $size;
        height: $size;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        background: linear-gradient(0deg, rgba($color-yellow,0.2) 33%, rgba($color-yellow,1) 100%);
        animation: loaderRotation 1s linear infinite;
        
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            width : $size - 4px;
            height: $size - 4px;
            border-radius: 50%;
            background:transparent;
        }
    }

}