.info-paragraph {
    &__root {
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 400px;
        width: 100%;
        z-index: 1;

        &--darkblue {
            color: $color-darkblue;
        }

        &--yellow {
            color: $color-yellow;
        }
    }

    &__title {
        font-size: 1.4rem;
        text-align: left;
        margin: 0 $default-margin;
        margin-right: calc(2*$default-margin);
    }

    &__info {
        margin: 0;
        font-size: 1rem;
        text-align: center;
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__root {
            flex-direction: column;
            max-width: 350px;
            margin: 0 $half-margin;
        }

        &__title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: calc(2*$default-margin);
        }

        &__info {
            padding: $half-padding;
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}