$color-yellow: #FFAE03;
$color-green: #4b672d;
$color-red: #A50104;
$color-darkblue: #0A122A;
$color-white: #FBFAF8;
$color-gray: #939393;
$color-light-gray: #dadada;
$color-green-light: #e5f2d7;
$color-red-light: #eee1e1;