@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&family=Ubuntu+Mono&display=swap');

$default-font: 'Raleway', sans-serif;
$title-font: 'Bebas Neue', cursive;
$card-number-font: 'Ubuntu Mono', monospace;