//---------------LOGOS---------------
@keyframes formAmperFullLogo {
    0% {
        stroke-dashoffset: -56px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes formAmperSmallLogo {
    0% {
        stroke-dashoffset: -74px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes displayContourFullLogo {
    0% {
        stroke-dashoffset: 150px;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 185px;
        opacity: 1;
    }
}

@keyframes displayContourSmallLogo {
    0% {
        stroke-dashoffset: 100px;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 130px;
        opacity: 1;
    }
}

@keyframes goUpFullLogo {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(-1px);
        opacity: 1;
    }
}

@keyframes goDownFullLogo {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(1px);
        opacity: 1;
    }
}

@keyframes goUpSmallLogo {
    0% {
        transform: translate(10px,10px);
        opacity: 0;
    }
    100% {
        transform: translate(0px,-1px);
        opacity: 1;
    }
}

@keyframes goDownSmallLogo {
    0% {
        transform: translate(-10px, -10px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 1px);
        opacity: 1;
    }
}

//---------------LOADER---------------
@keyframes loaderRotation {
    0% { 
        transform: rotate(0deg) 
    }
    100% { 
        transform: rotate(360deg) 
    }
}

//---------------PORTAL---------------
@keyframes notificationAppear {
    0% {
        transform: translate(-50%, -40%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

//---------------SHARED---------------

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

@keyframes scaleUp {
    0% { 
        transform: scale(0.8,0.8); 
    }
    100% { 
        transform: scale(1,1);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate(82%, -50px);  
    }
    100% {
        transform: translate(-9%, -50px);
    }
}