.card {
    &__root {
        @include default-box-shadow;

        margin: $default-margin;
        background-color: $color-white;
        width: calc(100% - 2*$default-margin - 2*$default-padding);
        max-width: 350px;
        min-width: 300px;
        min-height: 355px;
        border-radius: $default-border-radius;
        padding: $default-padding;

        animation: fadeIn 1s linear forwards, scaleUp 1s ease-in forwards;
    }
}