.file-input {
    &__root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $default-margin;
    }

    &__label {
        font-size: 1.1rem;
        margin-bottom: $half-margin
    }

    &__dropzone-wrapper {
        position: relative;
        width: 125px;
        height: 125px;
    }

    &__dropzone-cont {
        &:after, &:before {
            position:absolute;
            width: 10px; 
            height: 10px;
            border-color: $color-yellow;
            border-style:solid; 
            content: ' ';
        }

        &:before {bottom:0;left:0;border-width: 0  0 2px 2px}
        &:after {top:0;right:0;border-width: 2px 2px 0 0}
    }
}