.fullCrownText, .fullShieldText {
    fill: $color-yellow;
}

.fullAmper {
    stroke-dasharray: 56px;
    stroke-dashoffset: -56px;
    animation: formAmperFullLogo 1s ease-in-out 0.75s forwards;
}

.fullContour {
    stroke-dasharray: 119px;
    stroke-dashoffset: 150px;
    animation: displayContourFullLogo 1s linear forwards;
}

.fullCrown {
    animation: goUpFullLogo 1s ease-out forwards;
}

.fullShield {
    animation: goDownFullLogo 1s ease-out forwards;
}