.locations {
    &__root {
        padding: $default-padding;
        height: calc(100% - 2*$default-padding);
        display: flex;
        flex-direction: column;
        display: relative;
        overflow: hidden;
        align-items: center;
    }

    &__map-container {
        width: 300px;
        height: 300px;
        position: relative;

        &__pin {
            position: absolute;
            width: 7px;
            height: 7px;
            background-color: $color-darkblue;
            border-radius: 100%;
            top: 0;
            left: 0;
        }
    }

    &__list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__list {
        color: $color-white;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__li {
            display: block;
            width: 100%;
            text-align: center;
            margin: $half-padding 0;
            font-size: 1.2rem;
            transition: transform 1s ease-in;
            transform: translateX(175%);

            &::marker {
                content: ('');
            }

            &--entered {
                transform: translateX(0%);
            }
        }

        &__title {
            width: 100%;
            text-align: center;
            color: $color-yellow;
            font-size: 2.5rem;
            margin-top: 0;
            margin: $half-margin 0;
        }
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__root {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        &__map-container {
            min-width: 600px;
            height: 600px;
            width: 600px;

            &__pin {
                width: 10px;
                height: 10px;
            }
        }

        &__list-container {
            width: 50%;
            height: 100%;
        }

        &__list {
            &__li {
                margin: $default-padding 0;
                font-size: 1.5rem;
            }
        }
    } 

}