.landing-nav {
    &__root {
        background-color: $color-darkblue;
        padding: $half-padding;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        
        position: fixed;
        border-bottom: 1px solid $color-white;
        height: calc(75px - 2*$half-padding);
        width: calc(100% - 2*$half-padding);
    }

    &__logo-section, &__menu-section {
        height: 100%;
        min-width: 60px;
    }

    &__vert-menu {
        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: $color-white;
        height: calc(100% - 75px);
        padding-top: 75px;
        transition: transform 0.5s ease-out;
        transform: translateY(-100%);
        font-family: $title-font;

        &--opened {
            transform: translateY(0);
        }

        &__list {
            padding: 0;
            margin: 0;

            & li {
                text-align: center;

                &::marker {
                    content: ('');
                }

                & a {
                    display: block;
                    text-decoration: none;
                    color: $color-darkblue;
                    padding: $default-padding 0;
                    width: 100%;
                    font-size: 1.5rem;
                    transition: background-color 0.2s linear;

                    &:hover, &:focus {
                        text-decoration: underline;
                    }

                    &.active {
                        color: $color-darkblue;
                        background-color: $color-yellow;
                    }
                }
            }
        }
    }

    &__horiz-menu {
        font-family: $title-font;
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        align-items: center;
        
        & li {
            text-align: center;

            &::marker {
                content: ('');
            }

            & a {
                text-decoration: none;
                color: $color-yellow;
                padding: $half-padding $default-padding;
                margin: 0 $half-margin;
                font-size: 1.5rem;
                transition: color 0.5s ease-out, background-color 0.5s ease-out;
                
                &:hover, &:focus {
                    text-decoration: underline;
                }
                
                &.active {
                    color: $color-darkblue;
                    background-color: $color-yellow;
                }
            }
        }
    }
}