.landing-section {
    &__root {
        height: 600px;
    
        &--yellow {
            background-color: $color-yellow;
        }

        &--darkblue {
            background-color: $color-darkblue;
        }
    }
}