.dropdown-select {
    &__root {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__dropdown-btn {
        @include default-button;
        min-width: 200px;
        min-height: 25px;
        font-size: 0.75rem;
    }

    &__dropdown-list {
        margin: 0;
        padding: 0;
        z-index: 50;
        position: absolute;
        top: 99%;
        width: calc(100% - 3px);
        border: 1px solid $color-darkblue;
        background-color: $color-yellow;

        li {
            margin: 0;
            padding: 0;
            border-top: 1px solid $color-darkblue;
            height: calc(100% - 2px);

            &::marker {
                content: ('');
            }
        }

        &__btn {
            width: 100%;
            padding: $half-padding 0;
            background-color: $color-yellow;
            border: none;
            color: $color-darkblue;
        }
    }
}