.signup {
    &__root {
        width: 100vw;
        height: 100vh;
        background-color: $color-darkblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}