.landing-footer {
    &__root {
        height: 120px;
        background-color: $color-yellow;
        border-top: 1px solid $color-white;
        display: flex;
        padding: $half-padding;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-section {
        max-width: 50px;
        padding: $half-padding;
        background-color: $color-darkblue;
    }

    @media only screen and (min-width: $desktop-bp)  {
        &__logo-section {
            max-width: 100px;
        }
    }

    &__copyright {
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 0 $half-padding;
        text-align: center;
        
        & p {
            margin: 0;
        }
    }

    &__socials-section {
        display: flex;
        flex-direction: column;
    
        &__title {
            text-align: center;
            font-size: 1rem;
            margin: 0;
        }

        &__list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            & li {
                min-width: 25px;
                margin-top: 3px;
                
                &::marker {
                    content: none;
                }

                & a {
                    color: $color-darkblue;
                }
            }
        }
    }
}