@mixin default-button {
    border: none;
    padding: $half-padding $default-padding;
    background-color: $color-yellow;
    color: $color-darkblue;
    font-family: $default-font;
    cursor: pointer;
    transition: transform 0.25s ease-out, color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    position: relative;
    font-size: 1.2rem;
    max-width: 150px;

    &:hover, &:focus {
        transform: scale(1.1, 1.1);
        color: $color-yellow;
        background-color: $color-darkblue;
    }
}