@mixin secondary-button {
    @include default-box-shadow;
    padding: $half-padding $default-padding;
    background-color: $color-darkblue;
    color: $color-white;
    border: none;
    font-family: $default-font;
    cursor: pointer;
    transition: transform 0.25s ease-out, color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    
    &:hover, &:focus {
        transform: scale(1.1, 1.1);
        color: $color-darkblue;
        background-color: $color-white;
    }
}