.not-found {
    &__root {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-darkblue;
        color: $color-yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 4rem;
    }

    &__subtitle {
        font-size: 1.5rem;
    }

    &__border-wrp {
        position: absolute;
        top: 31%
    }
}