html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $default-font;

    &.unscrollable {
        overflow: hidden;
    }
}

svg {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}